<?xml version="1.0"?>
<dependency_resolvers>
    <tool_shed_packages />
    <galaxy_packages />
    <conda
            prefix="{{ galaxy_conda_prefix_resolved }}"
            channels="bioconda,conda-forge,defaults"
            auto_init="true"
            auto_install="true" />
</dependency_resolvers>